<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/twitteroperation?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">seiter</property>
    <mapping class="com.mapping.Search"/>
    <mapping class="com.mapping.Friends"/>
    <mapping class="com.mapping.Cuenta"/>
    <mapping class="com.mapping.Registrobusqueda"/>
    <mapping class="com.mapping.Followers"/>
  </session-factory>
</hibernate-configuration>
